<!-- pageFooter -->
<footer id="pageFooter">
  <div class="container pageFooterHolder">
    <div class="row">
      <div class="col-xs-12 col-sm-push-6 col-sm-6">
        <!-- pageFooterSocial -->
        <ul class="socialNetworks list-unstyled pageFooterSocial">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fab fa-google"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-pull-6 col-sm-6">
        <p>2020 <a href="#">Real Estate Lanka</a> - All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
