<!-- main -->
<main>
  <!-- mapFull -->

  <!-- content -->
  <section id="content" class="container pabIndent">
    <!-- contentFiltersHeadingWrap -->
    <header class="contentFiltersHeadingWrap row">
      <div class="col-xs-12 col-sm-10">
        <!-- breadcrumb -->
        <ol class="breadcrumb breadcrumb1">
          <li><a href="#">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li class="active">Contact Us</li>
        </ol>
        <h1 class="fontNeuron">Contact Us</h1>
      </div>
      <div class="col-xs-12 col-sm-2">
        <!-- viewFilterLinks -->
        <ul class="list-unstyled viewFilterLinks">
          <li><a href="#"><i class="fi flaticon-share"></i></a></li>
          <li><a href="#"><i class="fi flaticon-printer"></i></a></li>
        </ul>
      </div>
    </header>
    <!-- contactMain -->
    <div class="contactMain">
      <div class="row flexSameHeight">
        <div class="col-xs-12 col-sm-7 col-md-8">
          <!-- contactFormPage -->
          <div class="contactFormPage">
            <h4 class="fontNeuron">Send Us Message</h4>
            <form>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="text" id="txtname" placeholder="Your Name" class="form-control" required data-error="NEW ERROR MESSAGE">
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="email" id="txtemail" placeholder="Email" class="form-control" required data-error="NEW ERROR MESSAGE">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="tel" id="txttel" placeholder="Phone Number" class="form-control" required data-error="NEW ERROR MESSAGE">
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="form-group">
                    <input type="url" id="txtwebsite" placeholder="Website" class="form-control" required data-error="NEW ERROR MESSAGE">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" id="txtmessage" placeholder="Message" required data-error="NEW ERROR MESSAGE"></textarea>
              </div>
              <button type="submit" class="btn btnDark fontNeuron buttonXL" id="form-submit">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
          <!-- contactInfoPage -->
          <div class="contactInfoPage">
            <h4 class="fontNeuron">Get In Touch</h4>
            <p>Please note we do not sell houses, we are an advertising platform. For any questions regarding a listing please contact the real estate agent who has placed the property ad.</p>
            <address class="adr">
              <div class="item">
                <i class="fi flaticon-navigation"></i>
                <span class="text">Colombo Sri Lanka</span>
              </div>
              <div class="item">
                <i class="fi flaticon-24-hours"></i>
                <span class="text"><a href="tel:+12463450695">+9477246-345-0695</a></span>
              </div>
              <div class="item">
                <i class="fi flaticon-mail"></i>
                <span class="text"><a href="mailto:info@LemanHouse.com">info@realestatelanka.com</a></span>
              </div>
            </address>
            <ul class="socialNetworks list-unstyled">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fab fa-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- signupFormAside -->
  <form action="#" class="bgWhite signupFormAside">
    <div class="container signupFormAsideHolder">
      <span class="icnAbsolute elemenBlock fi flaticon-message"></span>
      <div class="col-xs-12 col-md-offset-2 col-md-6">
        <h3 class="fontNeuron textSecondary">Sign up for our newsletter.</h3>
        <p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="email" id="email" class="form-control elemenBlock" placeholder="Your email">
          <button type="button" class="buttonReset fi flaticon-navigation"></button>
        </div>
      </div>
    </div>
  </form>
</main>
