<main>
  <!-- content -->
  <section id="content" class="container pEqual">
    <div class="addProperty">
      <h1 class="fontNeuron">Add New Property</h1>
      <ol class="navSteps">
        <li class="completed">
          <a href="#">
            <span class="text">Basic Info</span>
          </a>
        </li>
        <li class="completed">
          <a href="#">
            <span class="text">Photos &amp; EPC</span>
          </a>
        </li>
        <li class="current">
          <a href="#">
            <span class="text">Location</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="text">Amenities</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="text">Private Notes</span>
          </a>
        </li>
      </ol>
      <div class="formContent">
        <form>
          <header class="contentHead">
            <h2 class="fontNeuron">Location</h2>
            <div class="btnArea">
              <a href="#" class="btn btn-lighter"><i class="fi flaticon-arrows-1"></i> Back</a>
              <a href="#" class="btn btn-info">Next <i class="fi flaticon-arrows"></i></a>
            </div>
          </header>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Country</label>
                <select data-placeholder="Select Option" class="chosen-select">
                  <option value="1">Turkey</option>
                  <option value="2">All Areas</option>
                  <option value="2">All Areas</option>
                  <option value="2">All Areas</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label>State</label>
                <select data-placeholder="Choose..." class="chosen-select">
                  <option value="1">State</option>
                  <option value="2">All Areas</option>
                  <option value="2">All Areas</option>
                  <option value="2">All Areas</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label>City</label>
                <select data-placeholder="Select City" class="chosen-select">
                  <option value="1">City</option>
                  <option value="2">All Areas</option>
                  <option value="2">All Areas</option>
                  <option value="2">All Areas</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <label for="item-map">Address / Location</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="item-map" placeholder="Istanbul / Turkey">
                  <button type="button" class="btn btnSecondary buttonL fontNeuron">Find On Map</button>
                </div>
              </div>
            </div>
          </div>
          <div class="map-area mapPlacer">
            <div id="map-container">
              <div id="map_div">&nbsp;</div>
            </div>
          </div>
          <div class="btnArea">
            <a href="#" class="btn btn-lighter"><i class="fi flaticon-arrows-1"></i> Back</a>
            <a href="#" class="btn btnDark">Next <i class="fi flaticon-arrows"></i></a>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- signupFormAside -->
  <form action="#" class="bgWhite signupFormAside">
    <div class="container signupFormAsideHolder">
      <span class="icnAbsolute elemenBlock fi flaticon-message"></span>
      <div class="col-xs-12 col-md-offset-2 col-md-6">
        <h3 class="fontNeuron textSecondary">Sign up for our newsletter.</h3>
        <p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="email" id="email" class="form-control elemenBlock" placeholder="Your email">
          <button type="button" class="buttonReset fi flaticon-navigation"></button>
        </div>
      </div>
    </div>
  </form>
</main>
