<!-- main -->
<main>
  <!-- introSlider -->
  <section class="mapBannerBlock">
    <div class="map-area">
      <div id="map-container">
        <div class="bg-img" id="map_div">

        </div>
      </div>
    </div>
    <div class="container holder">
      <div class="align">
        <!-- findFormBlock -->
        <form action="#" class="findFormBlock findFormBlock3 bgWhite">
          <div class="row align-center d-flex">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-5">
              <div class="form-group">
                <input type="text" class="form-control elemenBlock sizeMedium" placeholder="Enter city" name="city" [(ngModel)]="city">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2">
              <div class="form-group">
                <select data-placeholder="Property Type" class="chosen-select sizeMedium" name="type" [(ngModel)]="type">
                  <option value="house">House</option>
                  <option value="apartment">Apartment</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <div class="form-group">
                <select data-placeholder="Purpose" class="chosen-select sizeMedium" name="purpose" [(ngModel)]="purpose">
                  <option value="sale">Sale</option>
                  <option value="rent">rent</option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3">
              <div class="btnsWrap">
                <!-- otherFeaturesOpener -->
                <a class="btnPlus otherFeaturesOpener text-capitalize noTopBottom" role="button" data-toggle="collapse" href="#otherFeaturescollapse" aria-expanded="false" aria-controls="otherFeaturescollapse">
                  <i class="fas btnIcn fa-plus-circle text-info opener"></i>
                  <i class="fas fa-minus-circle closer btnIcn text-info"></i>
                  Advanced
                </a>
                <button type="button" class="btn btnDark buttonSmall text-uppercase fontNeuron hidden-xs" [routerLink]="['/search',city,type,purpose,minprice,maxprice,bedroom,bathroom]" >SEARCH</button>
              </div>
            </div>
          </div>
          <!-- orderRow -->
          <div class="row">
            <div class="col-xs-12">
              <!-- otherFeaturesCollapse -->
              <div class="collapse otherFeaturesCollapse" id="otherFeaturescollapse">
                <!-- checkList -->
                <ul class="list-unstyled checkList text-primary">
                  <li>
                    <div class="form-group">
                      <label for="itemN-19">Min Price</label>
                      <input type="text" class="form-control elemenBlock sizeMedium" placeholder="Min Price" name="minprice" [(ngModel)]="minprice">
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <label for="itemN-19">Max Price</label>
                      <input type="text" class="form-control elemenBlock sizeMedium" placeholder="Max Price" name="maxprice" [(ngModel)]="maxprice">
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <label for="itemN-19">Bathrooms</label>
                      <input type="number" class="form-control" placeholder="3" min="0" max="9999" id="itemN-19" name="bathroom" [(ngModel)]="bathroom">
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <label for="itemN-19">Bed Rooms</label>
                      <input type="number" class="form-control" placeholder="3" min="0" max="9999" id="itemN-109" name="bedroom" [(ngModel)]="bedroom">
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
              <button type="button" class="btn btnDark text-uppercase fontNeuron" [routerLink]="['/search',city,type,purpose,minprice,maxprice,bedroom,bathroom]" >SEARCH</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </section>
  <!-- latestPostsBlock -->
  <section class="latestPostsBlock container">
    <!-- rowHead -->
    <header class="row rowHead">
      <div class="col-xs-12 col-sm-5">
        <h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">LATEST</span> <span class="textSecondary">PROPERTIES</span></h1>
      </div>
      <div class="col-xs-12 col-sm-7">

      </div>
    </header>
    <!-- isoContentHolder -->
    <div class="isoContentHolder">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col isoCol sale" *ngFor="let property  of propertyList">
          <!-- postColumn -->
          <article class="postColumn hasOver bgWhite">
            <div class="aligncenter">
              <!-- postColumnImageSlider -->
              <div class="">
                <div>
                  <div class="imgHolder">
                    <a [routerLink]="['/property-detail',property.id]">
                      <img [src]="baseUrl+property.image" alt="image description">
                    </a>
                  </div>
                </div>
              </div>
              <!-- postHoverLinskList -->
              <ul class="list-unstyled postHoverLinskList">
                <li><a href="#"><i class="fi flaticon-repeat"></i></a></li>
                <li class="hasOver">
                  <a href="#"><i class="fi flaticon-share"></i></a>
                  <!-- postColumnSocial -->
                  <ul class="list-unstyled socialNetworks postColumnSocial">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                  </ul>
                </li>
              </ul>
              <!-- linkToFavourite -->
              <a href="#" class="linkToFavourite roundedCircle bg-primary textWhite icnHeartBeatAnim"><i class="far fa-heart"></i></a>
            </div>
            <h2 class="fontNeuron text-capitalize"><a [routerLink]="['/property-detail',property.id]">{{property.title}}</a></h2>
            <address>
              <span class="icn"><i class="fi flaticon-pin-1"></i></span>
              <p>{{property.city}} </p>
            </address>
            <span class="btn btnSmall btn-success text-capitalize">{{property.type}}</span>
            <h3 class="fontNeuron fwSemi"><span class="textSecondary">Rs {{property.price}}</span> <span class="textUnit fwNormal"></span></h3>
            <!-- postColumnFoot -->
            <footer class="postColumnFoot">
              <ul class="list-unstyled">
                <li>
                  <strong class="fwNormal elemenBlock text-primary">Area</strong>
                  <strong class="fwNormal elemenBlock">{{property.area}}</strong>
                </li>
                <li>
                  <strong class="fwNormal elemenBlock text-primary">Beds</strong>
                  <strong class="fwNormal elemenBlock">{{property.bedroom}}</strong>
                </li>
                <li>
                  <strong class="fwNormal elemenBlock text-primary">Baths</strong>
                  <strong class="fwNormal elemenBlock">{{property.bathroom}}</strong>
                </li>
                <li>
                  <strong class="fwNormal elemenBlock text-primary">Garages</strong>
                  <strong class="fwNormal elemenBlock">{{property.garages}}</strong>
                </li>
              </ul>
            </footer>
          </article>
        </div>
      </div>
    </div>
    <div class="row text-center btnHolder">
      <a [routerLink]="['/property-list']" class="btn btn-primary btnPrimaryOutline text-capitalize fontNeuron">Show More Property</a>
    </div>
  </section>
  <!-- mostPostsBlock -->
  <section class="mostPostsBlock bgWhite">
    <div class="container">
      <h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">MOST POPULAR</span> <span class="textSecondary">PLACES</span></h1>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <!-- visualPostColumn -->
          <a href="properties-detial.html" class="visualPostColumn hasOver elemenBlock text-center type01 textWhite">
            <span class="bgCover elemenBlock" style="background-image: url(https://metro.co.uk/wp-content/uploads/2019/10/GettyImages-824079764.jpg?quality=90&strip=all);"></span>
            <div class="captionWrap">
              <h2 class="fontNeuron">Colombo</h2>
              <h3 class="fontNeuron fwNormal">24 Properties</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <!-- visualPostColumn -->
          <a href="properties-detial.html" class="visualPostColumn hasOver elemenBlock text-center type01 textWhite">
            <span class="bgCover elemenBlock" style="background-image: url(https://whc.unesco.org/uploads/thumbs/site_0450_0020-1200-630-20151105154018.jpg);"></span>
            <div class="captionWrap">
              <h2 class="fontNeuron">Kandy</h2>
              <h3 class="fontNeuron fwNormal">24 Properties</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a href="#" class="visualPostColumn hasOver elemenBlock text-center type03 textWhite">
            <span class="bgCover elemenBlock" style="background-image: url(https://uploads.ceylontoday.lk/images/2021/04/sZ88wiIoaOHAaCRkr6eV5vdSq6Ff3KTg.jpg);"></span>
            <div class="captionWrap">
              <h2 class="fontNeuron">Kurunegala</h2>
              <h3 class="fontNeuron fwNormal">24 Properties</h3>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-3">
          <a href="properties-detial.html" class="visualPostColumn hasOver elemenBlock text-center type03 textWhite">
            <span class="bgCover elemenBlock" style="background-image: url(https://www.asiapropertyawards.com/wp-content/uploads/2019/10/shutterstock_1385735960.jpg);"></span>
            <div class="captionWrap">
              <h2 class="fontNeuron">Galle</h2>
              <h3 class="fontNeuron fwNormal">24 Properties</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- servicesFetaureBlock -->
  <div class="bgWhite">
    <div class="container">
      <div class="row">
        <form action="#" class="signupFormAside m-b-60 border-trbl">
          <div class="container signupFormAsideHolder">
            <span class="icnAbsolute elemenBlock fi flaticon-message"></span>
            <div class="col-xs-12 col-md-offset-1 col-md-7">
              <h3 class="fontNeuron textSecondary">Sign up for our newsletter.</h3>
              <p></p>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="form-group">
                <input type="email" id="email" class="form-control elemenBlock" placeholder="Your email">
                <button type="button" class="buttonReset fi flaticon-navigation"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<!-- include jQuery library -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMhNtTeK3q5agvPCN_yKSk-GQbXg3WULo&callback=myMap"></script>
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/plugins.js"></script>
<!-- include bootstrap JavaScript -->
<script src="/assets/js/bootstrap-slider.min.js"></script>
<!-- include custom JavaScript -->
<script src="/assets/js/jquery.main.js"></script>
<script type="text/javascript" src="/assets/js/map2.js"></script>
<script type="text/javascript" src="/assets/js/init.js"></script>
