<main>
  <!-- content -->
  <section id="content" class="container pEqual">
    <div class="addProperty">
      <h1 class="fontNeuron">Add New Property</h1>

      <div class="formContent">
        <form>
          <header class="contentHead">
            <h2 class="fontNeuron">Photos &amp; EPC</h2>
            <div class="btnArea">

            </div>
          </header>
          <div class="galleryUploads">
            <div class="titleArea">
              <span class="title">Photo Gallery</span>
              <p>*At least one image is for valid submission, minimum width of 817px.</p>
              <p>*You can mark an image as featured by clicking the star icon, Otherwise first image will be considered featured image.</p>
            </div>
            <div class="imageGallery">
              <div class="image imageLoaded">
                <img src="https://via.placeholder.com/200x150" alt="" width="200" height="150">
                <div class="btnsArea">
                  <a href="#" class="link close"><i class="fa fa-window-close"></i></a>
                  <a href="#" class="link"><i class="fi flaticon-edit"></i></a>
                </div>
                <a href="#" class="text">
                                  <span>
                                    <i class="fi flaticon-cloud-computing"></i>
                                    <span>Upload Image</span>
                                  </span>
                </a>
              </div>
              <div class="image imageLoaded">
                <img src="https://via.placeholder.com/200x150" alt="" width="200" height="150">
                <div class="btnsArea">
                  <a href="#" class="link close"><i class="fa fa-window-close"></i></a>
                  <a href="#" class="link"><i class="fi flaticon-edit"></i></a>
                </div>
                <a href="#" class="text">
                                  <span>
                                    <i class="fi flaticon-cloud-computing"></i>
                                    <span>Upload Image</span>
                                  </span>
                </a>
              </div>
              <div class="image imageLoaded">
                <img src="https://via.placeholder.com/200x150" alt="" width="200" height="150">
                <div class="btnsArea">
                  <a href="#" class="link close"><i class="fa fa-window-close"></i></a>
                </div>
                <a href="#" class="text">
                                  <span>
                                    <i class="fi flaticon-cloud-computing"></i>
                                    <span>Upload Image</span>
                                  </span>
                </a>
              </div>
              <div class="image">
                <div class="btnsArea">
                  <a href="#" class="link close"><i class="fa fa-window-close"></i></a>
                  <a href="#" class="link"><i class="fi flaticon-edit"></i></a>
                </div>
                <a href="#" class="text">
                                  <span>
                                    <i class="fi flaticon-cloud-computing"></i>
                                    <span>Upload Image</span>
                                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="galleryUploads">
            <div class="titleArea">
              <span class="title">Floor Plans</span>
            </div>
            <div class="imageGallery">
              <div class="image imageLoaded">
                <img src="https://via.placeholder.com/200x150" alt="" width="200" height="150">
                <div class="btnsArea">
                  <a href="#" class="link close"><i class="fa fa-window-close"></i></a>
                  <a href="#" class="link"><i class="fi flaticon-edit"></i></a>
                </div>
                <a href="#" class="text">
                                  <span>
                                    <i class="fi flaticon-cloud-computing"></i>
                                    <span>Upload Image</span>
                                  </span>
                </a>
              </div>
              <div class="image">
                <div class="btnsArea">
                  <a href="#" class="link close"><i class="fa fa-window-close"></i></a>
                  <a href="#" class="link"><i class="fi flaticon-edit"></i></a>
                </div>
                <a href="#" class="text">
                                  <span>
                                    <i class="fi flaticon-cloud-computing"></i>
                                    <span>Upload Image</span>
                                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="itemN-26">Property Video</label>
                <p>*Put URL from video sites like youtube, vimeo etc</p>
                <input type="text" class="form-control" placeholder="Video URL" id="itemN-26">
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <label for="itemN-27">360° Virtual Tour</label>
                <textarea class="form-control" placeholder="Embed Iframe code" id="itemN-27"></textarea>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </section>
  <!-- signupFormAside -->
  <form action="#" class="bgWhite signupFormAside">
    <div class="container signupFormAsideHolder">
      <span class="icnAbsolute elemenBlock fi flaticon-message"></span>
      <div class="col-xs-12 col-md-offset-2 col-md-6">
        <h3 class="fontNeuron textSecondary">Sign up for our newsletter.</h3>
        <p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="email" id="email" class="form-control elemenBlock" placeholder="Your email">
          <button type="button" class="buttonReset fi flaticon-navigation"></button>
        </div>
      </div>
    </div>
  </form>
</main>
