<main>
  <!-- propertyIntroBlock -->
  <section class="propertyIntroBlock style2">
    <!-- propertyIntroImageSlider -->
    <div class="slick-fade slickSlider introSlider propertyIntroImageSlider">
      <div>
        <span class="bgCover elemenBlock introSlide" style="background-image: url(./assets/images/about.jpeg);"></span>
      </div>
    </div>
    <!-- propertyIntroCaption -->
    <div class="container propertyIntroCaption textWhite">
      <div class="align">
        <div class="row alignEnd">
          <div class="col-xs-12 col col-sm-8">
            <!-- breadcrumb -->
            <ol class="breadcrumb breadcrumb1">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active">About</li>
            </ol>
            <h1 class="fontNeuron textWhite">About</h1>
          </div>
          <div class="col-xs-12 col-sm-4 justify-end">
            <!-- captionActionsList -->
            <ul class="list-unstyled captionActionsList w100">
              <li class="hasOver">
                <a href="#">
                  <i class="fi flaticon-share"></i>
                </a>
                <!-- postColumnSocial -->
                <ul class="list-unstyled socialNetworks postColumnSocial">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-google"></i></a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fi flaticon-printer"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- servicesFetaureBlock -->
  <section class="aboutBlock bgWhite">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-7">
          <h3 class="fontNeuron fwBold text-capitalize">We are  Real Estate Lanka.</h3>
          <p>Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus. Sed fermentum, lorem vitae efficitur imperdiet, neque velit tristique turpis, et iaculis mi tortor finibus turpis.</p>
          <p>Donec luctus lacinia sem potenti aptent est platea, orci tortor dui fringilla curae varius tempor, rhoncus commodo sapien auctor himenaeos laoreet maecenas tempor venenatis accumsan lacinia congue dolor laoreet, ut nostra nulla nunc aptent dolor quisque, lorem sociosqu nunc convallis curabitur faucibus.</p>
          <p>Ornare sagittis ante erat nec ultricies amet aenean netus sodales at, amet vehicula quis vel platea mattis vel felis hendrerit ad, at rhoncus tortor habitasse venenatis etiam senectus erat sit varius proin ligula lectus mi accumsan curabitur orci varius justo nec elit.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- servicesFetaureBlock -->
  <section class="servicesFetaureBlock container">
    <h1 class="fontNeuron blockH text-uppercase"><span class="bdrBottom">OUR</span> <span class="textSecondary">SERVICE</span></h1>
    <!-- servicesFetauresList -->
    <ul class="servicesFetauresList list-unstyled text-center">
      <li>
        <a href="#">
          <span class="icnHolder roundedCircle"><i class="fi flaticon-house"></i></span>
          <h2 class="fontNeuron text-capitalize">Saling Service</h2>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icnHolder roundedCircle"><i class="fi flaticon-rent"></i></span>
          <h2 class="fontNeuron text-capitalize">Renting Service</h2>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icnHolder roundedCircle"><i class="fi flaticon-list"></i></span>
          <h2 class="fontNeuron text-capitalize">Property Listing</h2>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icnHolder roundedCircle"><i class="fi flaticon-house-1"></i></span>
          <h2 class="fontNeuron text-capitalize">Property Management</h2>
        </a>
      </li>
    </ul>
  </section>

  <!-- signupFormAside -->
  <form action="#" class="bgWhite signupFormAside">
    <div class="container signupFormAsideHolder">
      <span class="icnAbsolute elemenBlock fi flaticon-message"></span>
      <div class="col-xs-12 col-md-offset-2 col-md-6">
        <h3 class="fontNeuron textSecondary">Sign up for our newsletter.</h3>
        <p>Lorem molestie odio. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="form-group">
          <input type="email" id="email" class="form-control elemenBlock" placeholder="Your email">
          <button type="button" class="buttonReset fi flaticon-navigation"></button>
        </div>
      </div>
    </div>
  </form>
</main>
