<header id="pageHeader" class="bgblue">
  <!-- pageHeaderWrap -->
  <div class="pageHeaderWrap">
    <!-- headerTopBar -->
    <div class="container-fluid">
      <!-- headerHolder -->
      <div class="headerHolder clearfix">
        <!-- logo -->
        <div class="logo alignleft"><a href="home.html"><img src="images/logo2.png" alt="LemanHouse real estate"></a></div>
        <!-- pageNav -->
        <nav id="pageNav" class="navbar navbar-default navTransparent pageNav5">
          <!-- navbar collapse -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navigation-wrapper">
              <strong class="h elemenBlock h4 textWhite text-center menuTitle fontNeuron hidden-lg" id="menu-title">Menu</strong>
              <!-- pageMainNav -->
              <ul class="nav navbar-nav pageMainNav transparentWhite pageMainNav5">
                <li class="active dropdown">
                  <a href="#" class="dropdown-toggle">Home<span class="caret"></span></a>
                  <div class="frame-wrap">
                    <div class="frame">
                      <ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown5">
                        <li><a href="home.html">Homepage 1</a></li>
                        <li><a href="home2.html">Homepage 2</a></li>
                        <li><a href="home3.html">Homepage 3</a></li>
                        <li><a href="home4.html">Homepage 4</a></li>
                        <li><a href="home5.html">Homepage 5</a></li>
                        <li><a href="home6.html">Homepage 6</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <!-- remove dropdownFull class when its just regular dropdown -->
                <li class="dropdown dropdownFull">
                  <a href="#" class="dropdown-toggle">Properties <span class="caret"></span></a>
                  <div class="frame-wrap">
                    <div class="frame">
                      <ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown5 pageMainNavDropdownFull pageMainNavDropdownFull5">
                        <li>
                          <div class="dropdownColumnsHolder">
                            <div class="dropdownCol">
                              <strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs hidden-sm hidden-md">Properties</strong>
                              <ul class="list-unstyled dropdownColList">
                                <li><a href="properties-grid.html">Properties Grid</a></li>
                                <li><a href="properties-list.html">Properties List</a></li>
                                <li><a href="properties-map-grid.html">Properties Map Grid</a></li>
                                <li><a href="properties-map-list.html">Properties Map List</a></li>
                                <li><a href="properties-grid-left-search.html">Properties Grid Left</a></li>
                                <li><a href="properties-half-map-grid.html">Properties Half Map Grid</a></li>
                                <li><a href="properties-half-map-list.html">Properties Half Map List</a></li>
                                <li><a href="properties-full-width-list.html">Properties Full Width List</a></li>
                                <li><a href="properties-full-width-grid.html">Properties Full Width Grid</a></li>
                              </ul>
                            </div>
                            <div class="dropdownCol">
                              <strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs hidden-sm hidden-md">New Properties</strong>
                              <ul class="list-unstyled dropdownColList">
                                <li><a href="properties-single1.html">Properties Single 1</a></li>
                                <li><a href="properties-single2.html">Properties Single 2</a></li>
                                <li><a href="properties-single3.html">Properties Single 3</a></li>
                                <li><a href="properties-single4.html">Properties Single 4</a></li>
                                <li><a href="properties-single5.html">Properties Single 5</a></li>
                              </ul>
                            </div>
                            <div class="dropdownCol">
                              <strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs hidden-sm hidden-md">New Properties</strong>
                              <ul class="list-unstyled dropdownColList">
                                <li><a href="add-step-01.html">Add step 01</a></li>
                                <li><a href="add-step-02.html">Add step 02</a></li>
                                <li><a href="add-step-03.html">Add step 03</a></li>
                                <li><a href="add-step-04.html">Add step 04</a></li>
                                <li><a href="add-step-05.html">Add step 05</a></li>
                              </ul>
                            </div>
                            <div class="dropdownCol">
                              <strong class="fontNeuron elemenBlock dropdownTitle text-uppercase hidden-xs hidden-sm hidden-md">Other Pages</strong>
                              <ul class="list-unstyled dropdownColList">
                                <li><a href="user-profile.html">User Profile</a></li>
                                <li><a href="my-properties.html">My Properties</a></li>
                                <li><a href="favourite-properties.html">Favourite Properties</a></li>
                                <li><a href="membership.html">Membership</a></li>
                                <li><a href="properties-faqs.html">Properties Faqs</a></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle">Pages<span class="caret"></span></a>
                  <div class="frame-wrap">
                    <div class="frame">
                      <ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown5">
                        <li><a href="404.html">404</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="agencies.html">Agencies</a></li>
                        <li><a href="agencies-detail.html">Agencies detail</a></li>
                        <li><a href="agent.html">Agent</a></li>
                        <li><a href="agent-detail.html">Agent detail</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle">Blog<span class="caret"></span></a>
                  <div class="frame-wrap">
                    <div class="frame">
                      <ul class="dropdown-menu pageMainNavDropdown pageMainNavDropdown5">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog2.html">Blog 2</a></li>
                        <li><a href="blog-detail.html">Blog detail</a></li>
                        <li><a href="blog-list.html">Blog list</a></li>
                        <li><a href="blog-full-width.html">Blog full width</a></li>
                        <li><a href="blog-list-full-width.html">Blog list full width</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="dropdown">
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- userOptions -->
          <div class="userOptions userOptions3 align-center">
            <!-- headerSearchForm -->
            <ul class="list-unstyled UserLinksList UserLinksList4 text-uppercase">
              <li>
                <a href="#popup1" class="lightbox">
                  <i class="fi flaticon-social icn hidden-md hidden-lg"></i>
                  <strong class="text fwNormal hidden-xs hidden-sm">Login</strong>
                </a>
              </li>
              <li>
                <a href="#popup1" class="lightbox">
                  <i class="fi flaticon-edit icn hidden-md hidden-lg"></i>
                  <strong class="text fwNormal hidden-xs hidden-sm">Register</strong>
                </a>
              </li>
            </ul>
            <!-- headerModalOpener -->
            <a href="#" class="headerModalOpener transparentWhite text-uppercase fontNeuron fwBold noShrink hidden-xs"><i class="openerIcon"></i> Submit Property</a>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- pagePopupWrap -->
<div class="popup-holder">
  <div id="popup1" class="lightbox-demo">
    <!-- popupLoginFrom -->
    <ul class="list-unstyled popupTabsetList text-center fwBold text-uppercase fontNeuron">
        <li class="active"><a href="#tab01">LOGIN</a></li>
        <li><a href="#tab02">REGISTER</a></li>
      </ul>
      <div class="tab-content">
        <div id="tab01" class="tab-active">
          <div class="popupColsHolder">
            <div class="col bgWhite">
              <form class="popupHolderWrap center-block popupLarge popupLoginFrom" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                <!-- Errors -->
                <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                  {{ errors?.email }}
                </div>
                <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                  {{ errors?.password }}
                </div>
                <div *ngIf="errors?.error" class="alert alert-danger mt-3">
                  {{ errors?.error }}
                </div>
              <div class="form-group">
                <input type="text" class="form-control elemenBlock" placeholder="User Namer" formControlName="email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control elemenBlock" placeholder="Password" formControlName="password">
              </div>
              <div class="form-group">
                <label class="fwNormal customLabelCheck">
                  <input type="checkbox" class="customFormInputReset">
                  <span class="fakeCheckbox"></span>
                  <span class="fakeLabel">Remember me</span>
                </label>
              </div>
              <button type="submit" class="btn btnSecondary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">LOGIN</button>
              <a href="#" class="linkForget">Forgot Password?</a>
              </form>
            </div>

            <div class="col">
              <p>You Can Login using your facebook Profile or Google account</p>
              <button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
              <button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
              <button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
            </div>
          </div>
        </div>

        <div id="tab02">
          <div class="popupColsHolder">

            <div class="col bgWhite">
              <form class="popupHolderWrap center-block popupLarge popupLoginFrom" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <!-- Errors -->
                <div *ngIf="errors?.name" class="alert alert-danger mt-3">
                  {{ errors?.name }}
                </div>
                <div *ngIf="errors?.username" class="alert alert-danger mt-3">
                  {{ errors?.username }}
                </div>
                <div *ngIf="errors?.email" class="alert alert-danger mt-3">
                  {{ errors?.email }}
                </div>
                <div *ngIf="errors?.password" class="alert alert-danger mt-3">
                  {{ errors?.password }}
                </div>
                <div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
                  {{ errors?.password_confirmation }}
                </div>


                <div class="form-group">
                <input type="text" class="form-control elemenBlock" placeholder="Full Name" formControlName="name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control elemenBlock" placeholder="User Name" formControlName="username">
              </div>
                <div class="form-group">
                  <input type="email" class="form-control elemenBlock" placeholder="Email Address" formControlName="email">
                </div>
              <div class="form-group">
                <input type="password" class="form-control elemenBlock" placeholder="Password" formControlName="password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control elemenBlock" placeholder="Confirm Password" formControlName="password_confirmation">
              </div>


              <button type="submit" class="btn btn-primary elemenBlock fontNeuron fwNormal text-uppercase btnSubmit">REGISTER</button>
                </form>
            </div>
            <div class="col">
              <p>You Can Login using your facebook Profile or Google account</p>
              <button type="button" class="btnSocial btnFb elemenBlock"><i class="fab fa-facebook-f btnIco"></i> Facebook Connect</button>
              <button type="button" class="btnSocial btnTw elemenBlock"><i class="fab fa-twitter btnIco"></i> Twitter Connect</button>
              <button type="button" class="btnSocial btnG elemenBlock"><i class="fab fa-google btnIco"></i> Google Connect</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
